<article class="project-preview-card" *ngIf="project">
  <div class="project-preview-card__header">
    <img [src]="project.image" class="project-preview-card__image" />
  </div>
  <div class="project-preview-card__body">
    <div class="project-preview-card__tech" *ngIf="project.threads?.length">
      <img
        *ngFor="let thread of project.threads"
        [src]="thread.url"
        class="project-preview-card__tech-icon"
        [attr.alt]="thread.url" />
    </div>
    <h3 class="project-preview-card__name">{{ project.name }}</h3>
    <p class="project-preview-card__short-description" *ngIf="project.shortDescription">
      {{ project.shortDescription }}
    </p>
    <div class="project-preview-card__footer">
      <div class="project-preview-card__tags">
        <span class="tag project-preview-card__tag" *ngFor="let tag of project.tags">
          {{ tag.name }}
        </span>
      </div>
      <div class="project-preview-card__actions">
        <a
          [href]="project.repository"
          class="project-preview-card__action"
          target="_blank"
          *ngIf="project.repository"
          aria-label="GitHub">
          <i class="fab fa-github"></i>
        </a>
        <a
          [href]="project.demo"
          class="project-preview-card__action"
          target="_blank"
          *ngIf="project.demo"
          aria-label="Демо">
          <i class="fas fa-arrow-up-right-from-square"></i>
        </a>
      </div>
    </div>
  </div>
</article>