.post-viewer {
  line-height: 1.8;
}

.post-viewer a {
  color: var(--blue);
  border-bottom: 1px solid var(--blue-100);
  word-break: break-all;
}

.post-viewer a:hover {
  color: var(--orange-800);
}

.post-viewer pre:not(:last-child) {
  margin-bottom: 2.5rem;
}
