.tag
{
    display: inline-flex;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
    background-color: var(--aqua);
    color: var(--white);
}