.category-collection {
  display: flex;
  flex-wrap: wrap;
}

.category {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: var(--space-base);
}

.category__row {
  margin-bottom: var(--space-2xs);
}

.category__post-preview-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.category__post-preview-card {
  margin-right: var(--space-sm);
  margin-bottom: var(--space-2xs);
}
