.footer
{
    display: flex;
    align-items: center;
    height: var(--footer-height);
}

.footer__row
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__contacts
{
    display: flex;
    flex-wrap: wrap;
}

.footer__contact:not(:last-child)
{
    margin-right: 5px;
}