.post-category__cards
{
    display: flex;
    flex-wrap: wrap;
}

.post-category__card
{
    margin-bottom: 5px;
}

.post-category__card:not(:last-child)
{
    margin-right: 10px;
}

.post-category:not(:last-child)
{
    margin-bottom: 10px;
}