<div class="post-category-collection">
    <div class="post-category">
        <span class="post-category__title tag">
            Angular
        </span>
        <div class="post-category__cards">
            <app-post-preview-card class="post-category__card"></app-post-preview-card>
            <app-post-preview-card class="post-category__card"></app-post-preview-card>
            <app-post-preview-card class="post-category__card"></app-post-preview-card>
            <app-post-preview-card class="post-category__card"></app-post-preview-card>
            <app-post-preview-card class="post-category__card"></app-post-preview-card>
            <app-post-preview-card class="post--category__card"></app-post-preview-card>
        </div>
    </div>
</div>