
<main class="page">
    <div class="page-section">
        <app-header></app-header>
    </div>

    <div class="container page-section">
        <app-post-viewer [src]="src"z></app-post-viewer>
    </div>

    <div class="container page-section">
        <h4 class="page-section__title page-section__title--small other-categories-title" *ngIf="categories && categories.length > 0">Другие заметки</h4>
        <div class="page-section__content">
            <app-category-collection [categories]="categories"></app-category-collection>
        </div>
    </div>
</main>
<app-footer></app-footer>