.project-preview-card-collection {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  gap: var(--space-sm);
}

.project-preview-card-collection__item {
  margin-right: 1.25rem;
  margin-bottom: var(--space-sm);
}

@media screen and (max-width: 36em) {
  .project-preview-card-collection__item--skeleton {
    width: 100%;
  }

  .project-preview-card-collection__item {
    margin-right: 0;
    width: 100%;
  }
}
