@use 'assets/styles/reset';
@use 'assets/styles/variables';
@use 'assets/styles/typography';
@use 'assets/styles/utilities';
@use 'assets/styles/link';
@use 'assets/styles/tag';
@use 'assets/styles/page';
@use 'assets/styles/pre';
@use 'assets/styles/post-viewer';
@use 'assets/styles/table';
@use 'assets/styles/breadcrumb';

main {
  padding-top: var(--header-height);
  min-height: calc(
    100vh - var(--footer-height) - var(--main-margin-bottom) - 1px
  );
  margin-bottom: var(--main-margin-bottom);
}
