body {
  font-family: var(--font-family-base);
  font-size: var(--text-base);
  line-height: 1.6;
  color: var(--black-800);
  background-color: var(--bg);
  min-width: 20rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

/* p {
  line-height: 1.6;
}
 */
