.custom-bread-crumb {
  padding: 0;
  background-color: transparent;
}

.custom-bread-crumb li {
  display: inline;
  font-size: var(--text-sm);
}

.custom-bread-crumb .line {
  padding-right: var(--space-3xs);
}

.custom-bread-crumb li a {
  color: var(--blue);
  border-bottom: 1px solid var(--blue-100);
}

.custom-bread-crumb li a:hover {
  color: var(--orange-800);
}
