.text-link
{
    text-decoration: none;
    color: var(--blue);
    border-bottom: 1px solid var(--blue-100);
    transition: 800ms;
    word-break: break-all;
}

.text-link:hover
{
    cursor: pointer;
    color: var(--orange-800);
    transition: 200ms;
}