<main class="page">
  <div class="page-section">
    <app-header></app-header>
  </div>

  <section id="posts" class="container page-section page-section--mobile">
    <h1 class="page-section__title">Заметки</h1>
    <p class="page-section__description">
      Статьи, гайды и заметки по разработке
    </p>
    <div class="page-section__content">
      <app-category-collection
        [categories]="categories"></app-category-collection>
    </div>
  </section>

  <section id="projects" class="container page-section page-section--mobile">
    <h1 class="page-section__title">Проекты</h1>
    <p class="page-section__description">
      Пет-проекты и экспериментальные решения
    </p>
    <div class="page-section__content">
      <app-project-preview-card-collection
        [projects]="projects"></app-project-preview-card-collection>
    </div>
  </section>
</main>
<app-footer [postCount]="postCount" [projectCount]="projectCount"></app-footer>
